@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @await Component.InvokeAsync("EmployeeDetails")

    @*@await Component.InvokeAsync("HeadCount")*@

    @*@await Component.InvokeAsync("Edit")*@


</div>
